*.o
*.a
*.so
*.pyc
*.tar.gz
*.class
*.jar
app/indexer
bench/kiwi-bench
kvbench/deps
kvbench/src/kv-benchmark
kvbench/src/kiwi-benchmark
kvbench/src/leveldb-benchmark
kvbench/src/testdb
bindings/java/bluekiwi/target
bindings/java/java/target
bindings/java/native/linux/target
bindings/java/native/mac/target
bindings/java/gremlin/
bindings/python/build/
bindings/bench/my-app/target
.classpath
.project
.settings
